// Colors
$font-color: #18191d;
$warn-color: #FF9900;
$warn-hover-color: darken($warn-color, 5%); // #F59300;
$primary-color: #063BEC;
$primary-hover-color: darken($primary-color, 5%);
//$primary-hover-color: #002DC2;
$font-color-1: #7A7A7A;
$icon-bg-color: #fCAF3B;
$footer-color: #676767;

$social-facebook-color: #3b5998;
$social-twitter-color: #1da1f2;
$social-instagram-color: #E1306C;
$social-linkedin-color: #2867B2;

$border-color: #E9ECEF;
$error-color: red;

$red-color: #EA1E24;
$blue-color: #2E69B2;
$red-color-secondary: #C72127;
$blue-color-secondary: #00589D;


