.theme-btn  {
  border-radius: 2rem;
  padding: 0 2.4rem;
  font-size: 1.05rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 2.8rem;
  letter-spacing: 0.05rem;
  margin-top: 0.5rem;

  @include mobile  {
    padding: 0 1.7rem;
    font-size: 0.85rem;
    line-height: 2.6rem;
  }

  &:focus  {
    outline: none;
    box-shadow: none;
  }

  &.btn-warning  {
    background-color: $warn-color;
    border-color: $warn-color;
    color: white;
    &:hover  {
      color: white;
      background-color: $warn-hover-color;
    }
  }

  &.btn-primary  {
    color: white !important;
    background-color: $primary-color;
    border-color: $primary-color;
    &:hover  {
      background-color: $primary-hover-color;
    }
  }

  &.small-btn  {
    padding: 0 1.3rem;
    font-size: 0.9rem;
    border-radius: 0.7rem;
    line-height: 2.5rem;
  }
}

.btn-squared  {
  border-radius: 10px;
}

section  {
  padding: 2rem 0;
}

.section-title  {
  h2  {
    @include font-size-2;
    letter-spacing: 0.12em;
    /*font-size: 3rem;

    @include mobile  {
      font-size: 2.2rem;
    }*/
  }

  h3  {
    font-size: 2rem;
    font-weight: 400;
  }
}

.section-title-with-bottom-border  {
  width: fit-content;

  hr  {
    @include color-underline;
  }
}

.full-height  {
  min-height: calc(100vh - 229px);
}

.auth-wrapper  {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  border-color: transparent;
}

.form-extra-links  {
  display: flex;
  justify-content: space-between;
}

.invalid-text  {
  width: 100%;
  margin-top: .25rem;
  font-size: 1rem;
  color: #dc3545;
}

.breadcrumb-item  {
  &.active  {
    a  {
      color: #7A7A7A;
      text-decoration: none;
    }
  }
}

.with-shadow  {
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.05);
}

mat-datepicker-toggle  {
  .mat-icon-button  {
    height: initial;
    line-height: initial;
  }
}

.progress  {
  height: 1.8rem;
  font-size: 0.90rem;
  .progress-bar  {
    background-color: $primary-color;
  }
}

rating  {
  .bs-rating-star {
    font-size: 1.5rem;

    &.active  {
      color: $warn-color;
    }
  }
}

.owl-stage-outer  {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 7px;
  margin: 2rem 0;

  @include mobile  {
    box-shadow: none;
    background: transparent;
    margin: 0;
  }
}

.has-bottom-line  {
  &:after  {
    border-radius: 4px;
    border-bottom: 0.25rem solid;
    content: "";
    color: $primary-color;
    left: 0;
    width: 100px;
    margin: 1rem 0;
    display: block;
  }

  &.center-xs  {
    @include mobile  {
      text-align: center;
      &:after  {
        margin: 1rem auto;
      }
    }
  }

}

.social-facebook  {
  background-color: $social-facebook-color;
}
.social-twitter  {
  background-color: $social-twitter-color;
}
.social-instagram  {
  background-color: $social-instagram-color;
}
.social-linkedin  {
  background-color: $social-linkedin-color;
}

.with-underline  {
  @include title-underline;
  &:after  {
    margin: 0.5rem 0;
  }
}

.with-simple-underline  {
  @include simple-underline;

  &.full-line  {
    &:after  {
      width: 100%;
      border-bottom-width: 0.1rem;
    }
  }
}

.buffer-height  {
  min-height: 400px;
}

.intro-video  {
  height: 44vw;
  @include desktop  {
    height: 38.5vw;
  }
}

.has-vertical-divider  {
  @include desktop  {
    &:after  {
      content: '';
      border-right: 1px solid $border-color;
      position: absolute;
      right: 0;
      top: 3px;
      height: calc(100% - 6px);
    }
  }
}

.has-pre-vertical-divider  {
  @include desktop  {
    &:before  {
      content: '';
      border-right: 0.1rem solid $border-color;
      position: absolute;
      left: 0;
      top: 3px;
      height: calc(100% - 6px);
    }
  }
}

.error-message  {
  font-size: 1.7rem;
  font-weight: 500;
  color: $error-color;
  margin-top: 2rem;
}

@keyframes simpleFadeIn  {
  0%  {
    opacity: 0;
  }
  30%  {
    opacity: 0.3;
  }
  100%  {
    opacity: 1;
  }
}

.has-cursor  {
  cursor: pointer;
}

button:focus  {
  outline: none;
}

.cdk-overlay-container .mat-menu-content:not(:empty)  {
  padding: 0;
}
