<div class="profile-box">

  <div class="profile-img center-align-col">
    <img [src]='profileImagePath' />

    <div [matMenuTriggerFor]="menu" class="img-edit center-align-col">
      <img src="../../../assets/icons/edit.png" />
    </div>
    
    <div class="btn-container edit-profile-dropdown">
      <mat-menu #menu="matMenu"  yPosition="below" >
        <button mat-menu-item (click)="imageInputElem.click()">
          <!-- <fa-icon [icon]="icons.userEdit" size="1x"></fa-icon> -->
          <span style="margin-left: 12px;"> Upload Image </span>
        </button>
        <button mat-menu-item (click)="removeImage()">
          <!-- <fa-icon [icon]="icons.removeIcon" size="1x"></fa-icon> -->
          <span style="margin-left: 20px;"> Delete Image</span>
        </button>
      </mat-menu>
      <input type="file" hidden
       #imageInputElem
       (change)="imageUpdate($event)"
       accept="image/png,image/jpg,image/jpeg">
    </div>
  </div>
  
  <div class="status-div">
    <div *ngIf = "showUserData?.status === 'Pending'" class="pending">Pending</div>
    <div *ngIf = "showUserData?.status === 'De-Active'" class="de-active">De-active</div>
    <div *ngIf = "showUserData?.status === 'Active'" class="active">Active</div>
  </div>

  <form [formGroup]="userProfileForm" class="screen-detail container" [ngClass]="edit ? 'editable_true' : ''">
    <div class="detail-item">
      <label class="heading">Name: </label>
      <div>
        <input type="text" formControlName="name" value={{showUserData?.name}} />
        <div class="invalid-feedback-div" *ngIf="name?.invalid && name?.touched">
          <span *ngIf="name?.errors?.required">Name is required</span>
          <span *ngIf="name?.errors?.minlength">Name is too short</span>
        </div>
      </div>
    </div>
  
    <div class="detail-item">
      <label class="heading">Gender: </label>
      <div>
        <select formControlName="gender">
          <option value="null">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <div class="invalid-feedback-div" *ngIf="gender?.invalid && gender?.touched">
          <span *ngIf="gender?.errors?.required">Gender is required</span>
        </div>
      </div>
    </div>
  
    <div class="detail-item">
      <label class="heading">Mobile No.: </label>
      <div>
        <input type="number" formControlName="phone" value={{showUserData?.phone}} />
        <div class="invalid-feedback-div" *ngIf="phone?.invalid && phone?.touched">
          <span *ngIf="phone?.errors?.required">Mobile No is required</span>
          <span *ngIf="phone?.errors?.minlength">Mobile No. must have 10 digits</span>
        </div>
      </div>
    </div>
  
    <div class="detail-item">
      <label class="heading">Email ID: </label>
      <div>
        <input type="email" [readonly]="true" formControlName="email" value={{showUserData?.email}} />
        <div class="invalid-feedback-div" *ngIf="email?.invalid && email?.touched">
          <span *ngIf="email?.errors?.required">EmailId is required</span>
        </div>
      </div>
    </div>
    
    <div class="status-div">
      <div (click) = "editButton()" class="active" *ngIf = "!edit">Edit</div>
    </div>
  </form>
  
  <div class="edit-account container">
    <button (click) = "changePassword()">Change Password</button>
  </div>
  
  <div class="btn-container" *ngIf="edit">
    <button (click)="saveButton()" class="save">Save Profile</button>
    <button (click)="cancelButton()" class="cancel">cancel</button>
  </div>
</div>