<div class="screen container">
  <div class="form-container">
    <div class="section-title">
      <h3 class="text-center">Change Password</h3>
    </div>
    <form class="form-wrapper" [formGroup]="loginForm">
      <div class="form-element">
        <label>
          <p>Current Password</p>
          <div class="invalid-feedback-div" *ngIf="currentPassword?.invalid && currentPassword?.touched">
            <span *ngIf="currentPassword?.errors?.required">Current password is required</span>
            <span *ngIf="currentPassword?.errors?.minlength">Current password is too short</span>
          </div>
        </label>
        <input class="is-invalid" type="password" formControlName="currentPassword"
          [class.is-invalid]="currentPassword?.invalid && currentPassword?.dirty" />
      </div>

      <div class="form-element">
        <label>
          <p>New Password</p>
          <div class="invalid-feedback-div" *ngIf="newPassword?.invalid && newPassword?.touched">
            <span *ngIf="newPassword?.errors?.required">New Password is required</span>
            <span *ngIf="newPassword?.errors?.minlength">New Password is too short</span>
          </div>
        </label>
        <input class="is-invalid" type="password" formControlName="newPassword"
          [class.is-invalid]="newPassword?.invalid && newPassword?.dirty" />
      </div>

      <div class="form-element">
        <label>
          <p>Confirm New Password</p>
          <div class="invalid-feedback-div" *ngIf="confirmNewPassword?.invalid && confirmNewPassword?.touched">
            <span *ngIf="confirmNewPassword?.errors?.required">Confirm New Password is required</span>
            <span *ngIf="confirmNewPassword?.errors?.minlength">Not matching with new password</span>
          </div>
        </label>
        <input class="is-invalid" type="password" formControlName="confirmNewPassword"
          [class.is-invalid]="confirmNewPassword?.invalid && newPassword?.dirty" />
      </div>

      <div class="btn-container">
        <button (click) = "submit()" class="save">Change Password</button>
        <button (click) = "cancel()" class="cancel">cancel</button>
      </div>

      <p class="error_msg" *ngIf="errorMessage.length > 0">{{errorMessage}}</p>
    </form>
  </div>
</div>