@import "../../styles/global/mixins.scss";

.screen {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-title .text-center {
	font-size: 35px;
	text-align: center;
	color: rgb(58, 76, 91);
}

.heading {
  font-size: 1.2rem;
  font-weight: 400;
}

.form-container {
  @include form-container;
  width: 50%;
  @include tablet {
    width: 50% !important;
  }

  @include mobile {
    width: 100% !important;
  }
}

.btn-container{
  @include btn-container;
  button {
    @include tablet {
      margin: 0;
    }
  }
}