.container {
  padding: 50px;
}

.salutation {
  font-size: xx-large;
  font-weight: 900;
  color: #27374D;
  text-align: center;
}

.status-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
  color: #525252;
  font-size: 20px;
}